In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import time, urllib
from urllib.request import urlopen

import requests

import pandas
import re

col_names = ['title', 'text', 'summary', 'author']
df  = pandas.DataFrame(columns = col_names)

url = 'https://www.15min.lt/autoriai'
response = urlopen(url)
html = response.read()

from bs4 import BeautifulSoup

soup = BeautifulSoup(html, 'html.parser')

autoriai = []
autorNames = []
for elm in soup.select(".page-title a"):
#     print(elm.get("href"))
    autoriai.append(elm.get("href"))
    autorNames.append(elm.text)

print(len(autoriai))
print(autorNames)

83
['Aleknavičė Karolina', 'Andriejauskaitė Jurgita', 'Antanavičius Ugnius', 'Bagdonas Marius', 'Bankauskaitė Beatričė', 'Bertašiūtė Monika', 'Blažinskaitė Heida', 'Bungardaitė Indrė', 'Čekanauskaitė Rosvita', 'Čeplinskas Deimantas', 'Chadasevičius Saulius', 'Daukševič Ana', 'Dzikaras Gaudrius', 'Filipavičiūtė-Navikauskė Aušra', 'Gedvila Žygimantas', 'Grigaitė Saulė', 'Grigaliūnaitė Violeta', 'Guseva Alisa', 'Iržikevičius Ruslanas', 'Ivašauskaitė Roberta', 'Ivaškevičius Arūnas', 'Jakučionis Saulius', 'Januševičius Alvydas', 'Jasalinė Laura', 'Jašinskienė Aurelija', 'Jurčenkaitė Indrė', 'Juršienė Jūratė', 'Kajėnas Gediminas', 'Kanevičiūtė Kristina', 'Kanišauskaitė-Šaltmerė Kristina', 'Kapsevičius Gytis', 'Karalius Mažvydas', 'Karsokaitė Viktorija', 'Kaškonas Alvydas', 'Kaušakienė Asta', 'Kopūstas Valdas', 'Krasnickas Mantas', 'Krištopaitytė Eglė', 'Lebednykaitė Gabija', 'Lieponė Jurgita', 'Limontaitė Sigutė', 'Lučinskas Paulius', 'Lukosevicius Rokas', 'Maračinskaitė Edita', 'Markelevičius Tomas', 'Meškinytė Adelė', 'Mičiulis Šarūnas', 'Mikalčiūtė-Urbonė Raimonda', 'Milašius Marius', 'Miliūnaitė Ema', 'Miškinis Vytenis', 'Namikaitė Giedrė', 'Neverauskas Vaidas', 'Ovčarenko Erikas', 'Ožalas Audrius', 'Pakėnas Rokas', 'Patapaitė Danielė', 'Pekarskas Žilvinas', 'Pepcevičiūtė Indrė', 'Radauskas Gintaras', 'Rimkus Kęstas', 'Ruokis Simonas', 'Sargautytė Margarita', 'Saukienė Inga', 'Šimelevičienė Jurgita', 'Stažytė Karolina', 'Strumila Arnas', 'Šveikytė Justina', 'Taškutė Paulina', 'Tiškevič Beata', 'Tracevičiūtė Roberta', 'Tubys Lukrecijus', 'Urbonaitė Ieva', 'Urbonas Donatas', 'Vaičiūtė Jurga', 'Varnauskaitė Elena', 'Vedrickas Jurgis', 'Vireliūnaitė Lauryna', 'Vorobjovaitė Margarita', 'Zaveckytė Lina', 'Zicari Eglė', 'Žukas Vilius', 'Zulonaitė Greta']

In [ ]:
#clean data frame
df = pandas.DataFrame(columns = col_names)
df

Empty DataFrame
Columns: [title, text, summary, author]
Index: []

In [ ]:
offset = 82

for (i, autorius) in enumerate(autoriai[offset:]):
  
    responseTry = urlopen('https://www.15min.lt' + autorius)
    soup = BeautifulSoup(responseTry.read(), 'html.parser')

    straipsniai = []

    def getPageStraipsnius(soup):
        for el in soup.select('h3 a'):
            straipsniai.append(el.get('href'))

        for elm in soup.select(".current + a"):
            nextResponse = urlopen(elm.get('href'))
            getPageStraipsnius(BeautifulSoup(nextResponse.read(), 'html.parser'))

    getPageStraipsnius(soup)
  
    print('working on ', autorNames[offset + i])
    
    for (a,straipsnis) in enumerate(straipsniai):

        url = 'https://www.15min.lt' + straipsnis

        text = ''
        res= urlopen('https://www.15min.lt' + straipsnis)
        soup1 = BeautifulSoup(res.read(), 'html.parser')
        
        title = soup1.find("h1", itemprop="headline").text.strip()
        m = re.search(r"\w([^\"]*)(\.|!|\?)", str(soup1.select(".intro")))
        try:
          summary = m.group(0)
        except:
          summary = 'NERA'
            
        for elm in soup1.select(".text p"):

            
            if (len(text) > 3000):
                break
            text += elm.text
        text = text[0:3000]
            

        print(a, end =" ")
        df = df.append({'text' : text , 'author' : autorNames[offset + i], 'summary' : summary, 'title' : title }, ignore_index=True)

    df.to_csv('/content/drive/MyDrive/vgtu/BAKALAURAS/autoriai-%i.csv' % (offset + i), sep='\t')
    df = pandas.DataFrame(columns = col_names)
    print('finish')
    print('with current author')

working on  Zulonaitė Greta
finish
with current author

In [ ]:
import os
os.chdir("/content/drive/MyDrive/vgtu/BAKALAURAS/")
!ls

autoriai-0.csv	 autoriai-29.csv  autoriai-48.csv  autoriai-67.csv
autoriai-10.csv  autoriai-2.csv   autoriai-49.csv  autoriai-68.csv
autoriai-11.csv  autoriai-30.csv  autoriai-4.csv   autoriai-69.csv
autoriai-12.csv  autoriai-31.csv  autoriai-50.csv  autoriai-6.csv
autoriai-13.csv  autoriai-32.csv  autoriai-51.csv  autoriai-70.csv
autoriai-14.csv  autoriai-33.csv  autoriai-52.csv  autoriai-71.csv
autoriai-15.csv  autoriai-34.csv  autoriai-53.csv  autoriai-72.csv
autoriai-16.csv  autoriai-35.csv  autoriai-54.csv  autoriai-73.csv
autoriai-17.csv  autoriai-36.csv  autoriai-55.csv  autoriai-74.csv
autoriai-18.csv  autoriai-37.csv  autoriai-56.csv  autoriai-75.csv
autoriai-19.csv  autoriai-38.csv  autoriai-57.csv  autoriai-76.csv
autoriai-1.csv	 autoriai-39.csv  autoriai-58.csv  autoriai-77.csv
autoriai-20.csv  autoriai-3.csv   autoriai-59.csv  autoriai-78.csv
autoriai-21.csv  autoriai-40.csv  autoriai-5.csv   autoriai-79.csv
autoriai-22.csv  autoriai-41.csv  autoriai-60.csv  autoriai-7.csv
autoriai-23.csv  autoriai-42.csv  autoriai-61.csv  autoriai-80.csv
autoriai-24.csv  autoriai-43.csv  autoriai-62.csv  autoriai-81.csv
autoriai-25.csv  autoriai-44.csv  autoriai-63.csv  autoriai-82.csv
autoriai-26.csv  autoriai-45.csv  autoriai-64.csv  autoriai-8.csv
autoriai-27.csv  autoriai-46.csv  autoriai-65.csv  autoriai-9.csv
autoriai-28.csv  autoriai-47.csv  autoriai-66.csv

In [ ]:
df.head()

Empty DataFrame
Columns: [title, text, summary, author]
Index: []